.advanced-menu-plugin {
  list-style: none;
  padding-left: 0 !important;
  padding-bottom: 0 !important;
  background-color: #7cdede;
  border-left: 5px solid #44c5c5;
}
.advanced-menu-plugin ul{
  list-style: none;
  padding-left: 0;
}
.advanced-menu-plugin li{
  list-style: none;
  transition: background-color 0.2s ease-in;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-bottom: 1px solid #6dc7c7;
}
.advanced-menu-plugin li a:hover {
    color: #000;
}
.advanced-menu-plugin li a {
  color: #fff;
  transition: color 100ms linear;
}
.advanced-menu-plugin .menu-item-has-children {
  position: relative;
  padding-left: 0;
}
.advanced-menu-plugin li.menu-item-has-children:hover {
}
.advanced-menu-plugin .menu-item-has-children.open {
  background-color: #8bdddd;
}
.advanced-menu-plugin .menu-item-has-children a {
  padding-left: 20px;
}
.advanced-menu-plugin .advanced-menu-toggle {
    display: none;
}
.advanced-menu-plugin .advanced-menu-toggle .icon {
    width: 15px;
    transition: transform 0.2s ease-in;
    height: 15px;
    background-position: center center;
    background-size: contain;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDI1NiAyNTYiIGhlaWdodD0iMjU2cHgiIGlkPSJMYXllcl8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAyNTYgMjU2IiB3aWR0aD0iMjU2cHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxwYXRoIGQ9Ik0zOC4zOTksNzYuOGMxLjYzNywwLDMuMjc0LDAuNjI1LDQuNTI0LDEuODc1bDg1LjA3NSw4NS4wNzZsODUuMDc1LTg1LjA3NmMyLjUtMi41LDYuNTUtMi41LDkuMDUsMHMyLjUsNi41NSwwLDkuMDUgIGwtODkuNiw4OS42MDFjLTIuNSwyLjUtNi41NTEsMi41LTkuMDUxLDBsLTg5LjYtODkuNjAxYy0yLjUtMi41LTIuNS02LjU1LDAtOS4wNUMzNS4xMjQsNzcuNDI1LDM2Ljc2Miw3Ni44LDM4LjM5OSw3Ni44eiIvPjwvc3ZnPg==);
}
.advanced-menu-plugin .open .advanced-menu-toggle .icon {
    transform: rotate(180deg)
}
.advanced-menu-plugin .menu-item-has-children > .advanced-menu-toggle {
    display: flex;
    position: absolute;
    margin-right: 15px;
    cursor: pointer;
    padding: 0 5px;
    user-select: none;
    right: 0;
    top: 20px;
    height: 25px;
    width:25px;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
}
.advanced-menu-plugin .menu-item-has-children > a {
    margin-right: 55px;
    display: block;
}
.advanced-menu-plugin .sub-menu {
    overflow: hidden;
    padding: 0;
    transition: max-height 0.2s ease-in;
    margin-right: 20px;
    padding-left: 20px;
}
.advanced-menu-plugin .sub-menu li.menu-item {
    padding: 0;
}
.advanced-menu-plugin .sub-menu li.menu-item a{
    margin-right: 20px;
    padding: 10px;
    width: 100%;
    display: block;
}
.advanced-menu-plugin .sub-menu li.menu-item:first-of-type {
    margin-top: 10px;
}
.advanced-menu-plugin .sub-menu li.menu-item:last-of-type {
    border-bottom: 0px solid #6dc7c7;
}
.advanced-menu-plugin .menu-item-has-children:not(.open) .sub-menu {
    max-height: 0 !important;
    
}

/* ProgressAlly specific styles. Thanks for being !important :/ */
.advanced-menu-plugin .menu-completed-icon {
  left: 3px !important;
  top: 36px !important;
  width: 15px !important;
  height: 15px !important;
  background-size: contain;
  border-radius: 50%;
}

.advanced-menu-plugin .sub-menu .menu-completed-icon {
  top: 26px !important;
  left: -8px !important;
}
